{% load render_table from django_tables2 %}
{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{% static "site.css" %}" />
        <link rel="stylesheet" href="{% static "leaguetable/units.css" %}" />
    </head>
    <body>
        <h1>UK Fertility Clinic data</h1>
        <p>
            A summary of data from the <a href="http://guide.hfea.gov.uk">HFEA official website</a>. Last updated 
        </p>
        {% render_table units %}
    </body>
</html>
